/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Global Css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.logo img{
    width: 120px;
}
/* header css */
header{
    height: 100vh;
    background-color: #2D25A0;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 10px;
}