/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Global Css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.primary-button {
    color: #fff;
    background: #E02C6D;
    font-size: 16px;
    padding: 15px 35px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
}

/* header css */
header{
    background-color: #2D25A0;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.banner {
    display: grid;
    padding: 150px 0;
    grid-template-columns: repeat(2,1fr);
}
/* banner-left{
    display: flex;
    flex-direction: column;
} */
.banner-left h1 {
    font-size: 75px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 25px;
}

.banner-right img{
    width: 100%;
}